/* Слайдер */
.slick-slider{
    position: relative;
    min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}

.block5__slider_item {
    outline: none;
}

.block5__slider {
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.block5__slider .slick-slide {
    margin: 0 15px;
}

.block5__slider .slick-list {
    margin-left: -15px;
    margin-right: -15px;
}

.block5__slider .slick-arrow {
    position: absolute;
    top: 45%;
    z-index: 20;
    font-size: 0;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    cursor: pointer;
}

.block5__slider .slick-prev {
    left: -40px;
}

.block5__slider .slick-prev::before {
    content: "\f0a8";
    font-family: 'icomoon';
    font-size: 20px;
    color: #f5bf23;
    opacity: 0.75;
}

.block5__slider .slick-prev:hover::before {
    opacity: 1;
}

.block5__slider .slick-next {
    right: -40px;
}

.block5__slider .slick-next::before {
    content: "\f0a9";
    font-family: 'icomoon';
    font-size: 20px;
    color: #f5bf23;
    opacity: 0.75;
}

.block5__slider .slick-next:hover::before {
    opacity: 1;
}

.block5__slider .slick-dots {
    display: flex;
    position: absolute; 
    left: 39%;
}

.block5__slider .slick-dots li {
    position: relative;
    top: 20px;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    border: 0;
    background: 0 0;
    display: block;
    height: 20px;
    width: 20px;
    outline: 0;
    line-height: 0;
    font-size: 0;
    color: transparent;
    padding: 5px;
    cursor: pointer;
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "•";
    width: 20px;
    height: 20px;
    font-family: slick;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    opacity: .25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots .slick-active button:before {
    color: #fff;
    opacity: 1;
}

.slick-dots li button:hover:before {
    color: #fff;
    opacity: 1;
}

@media (max-width: 1200px) {
    .block5__slider .slick-dots {
        left: 22.5%;
    }
}

@media (max-width: 768px) {
    .block5__slider .slick-dots {
        left: 10%;
    }
}